[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=prakriti
Group=prakriti
WorkingDirectory=/home/prakriti/app/src/
Environment="PATH=/home/prakriti/app/venv/bin"
EnvironmentFile=/home/prakriti/.env
ExecStart=/home/prakriti/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target